.navItem {
    text-decoration: none;
    margin-right: .5rem;
    border: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: 700;
    padding: 0;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:first-child {
      margin-right: .8rem;
    }
  }